.wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
}

.containerEnter {
    max-width: 100%;
    height: 100vh;
    margin: 0 auto;
    position: relative;
    background-color: rgba(0, 0, 0, 0.85);
}

.modal__block {
    position: absolute;
    z-index: 2;
    left: calc(50% - (360px / 2));
    top: calc(50% - (487px / 2));
    opacity: 1;
}

.modal__blockWithError {
    position: absolute;
    z-index: 2;
    left: calc(50% - (360px / 2));
    top: calc(50% - (527px / 2));
    opacity: 1;
}

.modal__form {
    width: 360px;
    background-color: #ffffff;
    border-radius: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 43px 0px 47px 0px;
}

.modal__btnSignupEnt:hover {
    background-color: #3f007d;
}

.modal__btnSignupEnt:active {
    background-color: #271a58;
}

.modal__block {
    position: absolute;
    z-index: 2;
    left: calc(50% - (366px / 2));
    top: calc(50% - (439px / 2));
    opacity: 1;
}

.modal__logo {
    width: 220px;
    height: 35px;
    margin-bottom: 48px;
    background-color: transparent;
}

.modal__input {
    width: 280px;
    height: 52px;
    border: 1px solid #D0CECE;   
    margin-bottom: 10px; 
}

.modal__input::-webkit-input-placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.05px;
    color: #d0cece;
    padding: 18px 16px;
}

.modal__input:-ms-input-placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.05px;
    color: #d0cece;
    padding: 18px 16px;
}

.modal__input::-ms-input-placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.05px;
    color: #d0cece;
    padding: 18px 16px;
}

.modal__input::placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.05px;
    color: #d0cece;
    padding: 18px 16px;
}

.modal__btnSignupEnt {
    width: 280px;
    height: 52px;
    background-color: #BCEC30;
    border-radius: 46px;
    margin-top: 34px;
    margin-bottom: 10px;
    border: none;
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #000000;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.05px;
}

.modal__btnEnter {
    width: 280px;
    height: 52px;
    background-color: #ffffff;
    border-radius: 46px;
    border: 1px solid #000000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.05px;
    color: #000000;
}

.errorContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 12px;
    color: red;
}